// stylelint-disable color-no-hex, color-named, value-list-max-empty-lines
// stylelint-disable scss/dollar-variable-colon-space-after, scss/dollar-variable-empty-line-before

// Base colors.
$trueblack:             #000;
$black:                 lighten(#000, 2%); // off-black
$nearblack:             lighten($black, 20%); // #333
$grey-dark:             lighten($black, 30%);
$grey-lessdark:         lighten($black, 40%);
$grey-medium:           lighten($black, 50%);
$grey:                  lighten($black, 60%); // #999
$grey-light:            lighten($black, 80%); // #ccc
$grey-extra-light:      lighten($black, 93.33%); // #eee
$white:                 darken(#fff, 2%); // off-white
$truewhite:             #fff;

$blue:                  #0072b9;
$blue-dark:             darken($blue, 15%);
$blue-darkest:          darken($blue, 25%);
$blue-medium:           lighten($blue, 40%);
$blue-light:            lighten($blue, 55%);
$blue-extra-light:      lighten($blue, 70%);
$red:                   #c00;
$green:                 #43a808;
$green-dark:             darken($green, 15%);
$green-darkest:          darken($green, 25%);
$green-medium:           lighten($green, 40%);
$green-light:            lighten($green, 50%);
$green-extra-light:      lighten($green, 61%);
$yellow:                #fd0;

$brand:                 $green-darkest;
$brand-alt:             $green;
$brand-light:           $green-light;
$brand-dark:            $green-dark;

// Colour map.
$colors: (
  brand:                  $brand,
  brand-alt:              $brand-alt,
  brand-light:            $brand-light,
  brand-dark:             $brand-dark,

  text:                   $black,
  text-bg:                $white,
  text-meta:              $green-darkest,

  link:                   $black,
  link-visited:           $black,
  link-hover:             $brand,
  link-active:            $red,

  link-inverted:          $white,
  link-visited-inverted:  $white,
  link-hover-inverted:    $white,
  link-active-inverted:   $red,

  border:                 $brand,
  border-light:           $brand-light,
  border-dark:            $brand-dark,

  autocomplete:           $green-dark,
  autocomplete-bg:        $white,
  autocomplete-select:    $white,
  autocomplete-select-bg: $black,

  body-bg:                $green-extra-light,
  header-bg:              $green-dark,
  footer-bg:              $brand,
  backdrop:               $green-light,

  mobile-menu:            $brand,
  mobile-menu-cover:      rgba($green-dark, .2),

  button:                 $brand,
  button-hover:           $brand-dark,
  button-text:            $white,
  button-text-hover:      $white,
  button-disabled:        $grey,

  form-error:             $red,

  mark-highlight:         $red,
  mark-bg:                $yellow,

  menu-active:            $green,

  preview-bg:             lighten($yellow, 43%),

  row-stripe:             $green-extra-light,
  row-disabled:           $green-light,

  status:                 $green,
  status-bg:              lighten($green, 62%),
  status-highlight:       $black,
  warning:                $black,
  warning-bg:             lighten($yellow, 45%),
  warning-border:         $yellow,
  error:                  $red,
  error-bg:               lighten($red, 57%),

  watermark:              $grey-extra-light,

  headings:               $green-dark,

  code:                   $black,
  code-bg:                $truewhite,

  highlight:              $brand-alt,
);
