{{- $ctx := . -}}
{{- $destination := .destination -}}
{{- $skip := .skip -}}
{{- $log := .log -}}
{{- $logOnError := .logOnError -}}
{{- $noPrint := .noPrint -}}
{{- $path := "" -}}
{{- $fragment := "" -}}
{{- $inUrl := urls.Parse $destination -}}
{{- $result := partial "helpers/test-log.html" (dict "matchType" "regexMatch" "actual" $inUrl "expected" "(^$|(\\s|\\S)+)" "checkMessage" (printf "parse link destination for '%s'" $destination) "matchPass" true "skip" $skip "noLog" (not $log) "noPrint" $noPrint "logOnError" $logOnError) -}}
{{- with $inUrl -}}
	{{- if .Fragment -}}
		{{- $fragment = .Fragment -}}
	{{- end -}}
{{- else -}}
	{{- $tmpScratch := newScratch -}}
	{{- $fragment = $tmpScratch.Get "nil-value" -}}
{{- end -}}
{{- return (dict "fragment" $fragment "result" $result) -}}
{{- /* Remove trailing newlines */ -}}
